.main_section{
	min-height: 84vh;
}
header{
	background: #333;
	background: linear-gradient(0deg, rgba(1,18,10,1) 0%, rgba(9,121,88,1) 37%, rgba(0,212,255,1) 100%);
	background-size: 200% 200%;

	-webkit-animation: Animation 5s ease infinite;
	-moz-animation: Animation 5s ease infinite;
	animation: Animation 5s ease infinite;
}
@-webkit-keyframes Animation {
	0%{background-position:10% 0%}
	50%{background-position:91% 100%}
	100%{background-position:10% 0%}
}
@-moz-keyframes Animation {
	0%{background-position:10% 0%}
	50%{background-position:91% 100%}
	100%{background-position:10% 0%}
}
@keyframes Animation { 
	0%{background-position:10% 0%}
	50%{background-position:91% 100%}
	100%{background-position:10% 0%}
}
li{
	list-style-type: none;
}

.aside{
	z-index: 100;
	position: sticky;
	top:110px;
	background-image:linear-gradient(rgba(255, 255, 255, 0.8),rgba(255,151, 151, 0.8) );
	max-width: 300px;
	border: 1px solid black;
	max-height: 80vh;
	border-radius: 0 25px 25px 0;
}
@media(max-width: 768px){
	.aside{
		max-width: 100vh;
	}
}
.aside a{
	text-decoration: none;
	font-weight: 600;
	font-size: 24px;
	color: #333;
}
.aside li{
	border: 1px solid black;
}
.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}
.scrollmenu::-webkit-scrollbar {
	height: 0px; 
	width: 0; 
}
.scrollmenu { 
	-ms-overflow-style: none; 
}
.scrollmenu { 
	overflow: -moz-scrollbars-none; 
}
.wrapper{
	border: 2px solid black;
	border-radius: 5px;
	box-shadow: 0 0 10px black;
	height: 100%;
	background-color: #fff;
}
.wrapper:hover{
	background-color: #aaa;
	transition-duration:1s;
}

img[alt="comp"]{
	height: 200px;
}

footer{
	background-color: #b7b7b7;

	background: linear-gradient(0deg, rgba(0,212,255,1) 0%, rgba(9,121,88,1) 67%, rgba(1,18,10,1) 100%);
	background-size: 200% 200%;

	-webkit-animation: Animation 5s ease infinite;
	-moz-animation: Animation 5s ease infinite;
	animation: Animation 5s ease infinite;
}


.hp a{
	color: yellow !important;
	font-size: 20px;
	text-decoration: none;
}
.navbar{
	background: transparent!important;
}

.slider{
	background: #FFFFFF;
	box-shadow: 0px 0px 50px rgba(64, 74, 84, 0.06);
	border-radius: 20px;
}
.circle{
	border: 0px!important;
	border-radius: 7px;
	width: 14px!important;
	height: 14px!important;
	background: #E0E0E0!important;
}
.circle.active{
	background: #CFB88C!important;
}
#arrow_left2{
	display: none;
}
.carousel-control-prev:hover #arrow_left{
	display: none;
}
.carousel-control-prev:hover #arrow_left2{
	display: flex;
}
#arrow_right2{
	display: none;
}
.carousel-control-next:hover #arrow_right{
	display: none;
}
.carousel-control-next:hover #arrow_right2{
	display: flex;
}
main{
	background-image:url(../img/BG.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 84vh;
}
.menu a{
	text-decoration: none;
	color: orange;
	font-size: 24px;
}
.wrapper2, .wrapper3{
	border: 2px solid black;
	border-radius: 5px;
	box-shadow: 0 0 10px black;

	background-color: #fff;
}
.wrapper2 img{
	height: 100px;
}
#block-sort{
	display: none;
}
.wrapper3 img{
	height: 500px;
}